<!DOCTYPE html>
<html lang = "en">

<head>
    <%-include("../partials/head.ejs"); %>
</head>

<body>
    <%if(utilisateur){%>
        <%if(utilisateur.testDone){%>
            <%-include("../partials/navbar-tested.ejs"); %>
            <h1>Évalutaion</h1>
            <h1>Résultats de votre première évaluation</h1>
        <%}%>
        <%if(!utilisateur.testDone){%>
            <%-include("../partials/navbar-nottested.ejs"); %>
            <h1>Évaluation</h1>
            <div class = "wrapper">
                <div id = "step-wrapper">
                    <div class = "step-point"></div>
                    <div class = "uncomplete-line"></div>
                    <%for(let i=0;i<utilisateur.nbEtape;i++){%>
                        <div class = "step-line"></div>
                        <div class = "step-point"></div>
                    <%}%>
                    <%for(let i=utilisateur.nbEtape;i<4;i++){%>
                        <div class = "invisible-line"></div>
                        <div class = "uncomplete-step-point"></div>
                    <%}%>
                </div>

                <div id = "login-wrapper">
                    <h1>Étape <%=utilisateur.nbEtape +1%></h1>
                    <div id= "welcome-line"></div>
                    <%if(utilisateur.nbEtape == 0){%>
                        <form id = "login-form" method = "post" action = "/test">
                            <label for = "sex">Sexe (biologique)</label>
                            <div class = "row-input" style = "justify-content: space-evenly;">
                                <div style = "background:var(--main-bg-color-bis);">
                                    <input class = "radio" type="radio" id="male" name="sex" value="0" required>
                                    <label class = radio for = "male">M</label>
                                </div>
                                <div style = "background:var(--main-bg-color-bis);">
                                    <input class = "radio" type="radio" id="female" name="sex" value="1" required>
                                    <label class = radio for = "female">F</label>
                                </div>
                            </div>
                            <label for = "weight">Poids (kg)</label>
                            <div class = "row-input">
                                <input id = "weight" type = "number" name = "weight" placeholder="Exemple : 80" required>
                            </div> 
                            <label for = "age">Âge (années)</label>
                            <div class = "row-input">
                                <input id = "age" type = "number" name = "age" placeholder="Exemple : 28" required>
                            </div>                
                            <label for = "height">Taille (cm)</label>
                            <div class = "row-input">
                                <input id = "height" type = "number" name = "height"placeholder = "Exemple : 175" required>
                            </div>
                            <button class = "button-yellow" onclick = "checkIfCompleted()" type = "submit">Continuer</button>
                        </form>
                    <%}%>
                    <%if(utilisateur.nbEtape == 1){%>
                        <form id = "login-form" method = "post" action = "/test">
                            <label for = "diastolic">Pression diastolique (min)</label>
                            <div class = "row-input">
                                <input id = "diastolic" type = "number" name = "diastolic" placeholder="Exemple : 78" required>
                            </div>
                            <label for = "systolic">Pression systolique (min)</label>
                            <div class = "row-input">
                                <input id = "systolic" type = "number" name = "systolic" placeholder="Exemple : 130" required>
                            </div>
                            <label for = "grip">Force de serrage (kg)</label>
                            <div class = "row-input">
                                <input id = "grip" type = "number" name = "grip" placeholder="Exemple : 36" required>
                            </div>
                            <button class = "button-yellow" onclick = "checkIfCompleted()" type = "submit">Continuer</button>
                        </form>
                    <%}%>
                    <%if(utilisateur.nbEtape == 2){%>
                        <br>
                        <h2 class = "exercise-desc" style = "color:var(--highlight-yellow);">EXERCICE</h2>
                        <h2 class = "exercise-desc">Placez-vous <span class = "highlight-blue">assis sur le sol </span>(avec un tapis ou une serviette) et <span class = "highlight-yellow">penchez-vous</span> pour rapprocher vos mains de vos pieds en gardant vos jambes le plus tendu possibles</h2>
                        
                        <img class = "exercise-img" src = "img/exo1.png">
                        
                        <h2 class = "exercise-desc"><span class = "highlight-yellow">Mesurez</span> ensuite la <span class = "highlight-blue">distance</span> entre vos mains et vos pieds</h2>
                        <h2 class = "exercise-quicknote">Rappel : Échauffez-vous bien avant de commencer (prenez soin de vous !)</h2>
                        <form id = "login-form" method = "post" action = "/test">
                            <label for = "sit-bend">Votre résultat (cm)</label>
                            <div class = "row-input">
                                <input id = "sit-bend" type = "number" name = "sit-bend" placeholder="Exemple : 16" required>
                            </div>
                            <button class = "button-yellow" onclick = "checkIfCompleted()" type = "submit">Continuer</button>
                        </form>
                    <%}%>
                    <%if(utilisateur.nbEtape == 3){%>
                        <form id = "login-form" method = "post" action = "/test">
                            <label for = "sit-ups">Votre résultat</label>
                            <div class = "row-input">
                                <input id = "sit-ups" type = "number" name = "sit-ups" placeholder="Exemple : 41" required>
                            </div>
                            <button class = "button-yellow" onclick = "checkIfCompleted()" type = "submit">Continuer</button>
                        </form>
                    <%}%>
                    <%if(utilisateur.nbEtape == 4){%>
                        <form id = "login-form" method = "post" action = "/test">
                            <label for = "broad-jump">Votre résultat (cm)</label>
                            <div class = "row-input">
                                <input id = "broad-jump" type = "number" name = "broad-jump" placeholder="Exemple : 190" required>
                            </div>
                            <button class = "button-yellow" onclick = "checkIfCompleted()" type = "submit" href = "/profile">Terminer</button>
                        </form>
                    <%}%>
                </div>

            </div>
        <%}%>
    <%}%>
    <%if(!utilisateur) {%>
        <%-include("../partials/navbar.ejs"); %>
        <h1>Connectez-vous pour acceder à cette rubrique</h1>
    <%}%>
    
    <script src ="js/animations.js"></script>
    <script src ="js/evaluate.js"></script>
</body>

</html>